body{
    font-family: Verdana, Arial, sans-serif;
    background-color: beige;
    color: #4d2412;
    font-size: 14px;
    line-height: 1.4em;
    width: 100%;
}

header{
    background-color: #D2B48C;
    padding: 10px 0px;
    text-align: center;
}

nav ul{
    list-style-type: none;
    padding: 0;
    margin: 24px auto auto;
    text-align: center;
}


nav a{
    text-decoration: saddlebrown;
    font-weight: bold;
}

footer {
    color: black;
    font-weight: bold;
    background-color: #D2B48C;
    font-size:70%;
    text-align: center;
    clear: both;
    padding: 24px 0px;
}

#coffee{
    width: 300px;
    height: 250px;
    margin: 10px;
}

#wrapper{
    width: 80%;
    background-color: beige;
    margin: 50px auto auto;
    min-width:800px;
    max-width: 1280px;
}

.left_column{
    color: saddlebrown;
    float: left;
    background-color: #E2D2B0;
    width: 200px;
    height: 400px;
    font-size: 18px;
}

.right_column{
    margin-left: 230px;
}


.content_left{
    width: 45%;
    float: left;
    margin-left: 30px;
    margin-bottom: 50px;
    margin-right: 10px;
}


.content_right{
    width: auto;
    margin-top: 10px;
    font-size: 18px;
}

.content_right ul{
    list-style-image: url(img/icon.png);
}

.menu_table{
    margin: 30px 20px 20px 90px;
    width: 80%;
}

.menu_table p{
    font-size: 20px;
}

h3{
    text-align: center;
}
p{
    margin-left: 5px;
}

tr:nth-of-type(even) {
    background-color: beige;
}

tr:nth-of-type(odd) {
    background-color: #D2B48C;
}